.navbar{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo{
    width: 150px;  
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}
.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
}
.navbar button:hover{
    background-color: #fff4f2;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}
.navbar li{
    cursor: pointer;
}
.navbar-search-icon{
    position: relative;
}
.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}
@media (max-width: 1050px) {
    .navbar .logo{
        width: 139px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}
@media (max-width: 900px) {
    .navbar .logo{
        width: 119px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 18px;
    }
    .navbar-right button{
        padding: 6px 19px;
        font-size: 14px;
    }
}
@media (max-width: 750px) {
    
    .navbar-menu{
      display: none;
    }
    .navbar-right img{
        width: 15px;
    }
    .navbar-right button{
        padding: 5px 15px;
        font-size: 13px;
    }
   
}

@media only screen and (max-width: 414px) { /* iPhone XS Max, iPhone 11 Pro Max, iPhone 11, iPhone XR */
    .navbar .logo {
        width: 100px;
    }
    .navbar-menu {
        display: none;
    }
    .navbar-right {
        gap: 10px;
    }
    .navbar-right img {
        width: 15px;
    }
    .navbar-right button {
        padding: 5px 15px;
        font-size: 13px;
    }
}

@media only screen and (max-width: 375px) { /* iPhone X, iPhone XS, iPhone 11 Pro */
    .navbar .logo {
        width: 90px;
    }
    .navbar-right {
        gap: 8px;
    }
    .navbar-right img {
        width: 15px;
    }
    .navbar-right button {
        padding: 5px 15px;
        font-size: 13px;
    }
}

@media only screen and (max-width: 320px) { /* iPhone SE (1st gen), iPhone SE (2nd gen), iPhone 5, iPhone 5S, iPhone 5C */
    .navbar .logo {
        width: 80px;
    }
    .navbar-right {
        gap: 6px;
    }
    .navbar-right img {
        width: 12px;
    }
    .navbar-right button {
        padding: 4px 12px;
        font-size: 12px;
    }
}
